<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta architecto possimus numquam. Incidunt enim natus qui mollitia fugit eveniet error exercitationem hic itaque aspernatur veniam obcaecati architecto, debitis inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta architecto possimus numquam. Incidunt enim natus qui mollitia fugit eveniet error exercitationem hic itaque aspernatur veniam obcaecati architecto, debitis inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta architecto possimus numquam. Incidunt enim natus qui mollitia fugit eveniet error exercitationem hic itaque aspernatur veniam obcaecati architecto, debitis inventore!</p>
    </div>
</body>
<%- include("./partials/footer.ejs")%>
</html>